<style>
  html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section {
    background-image: url("/assets/background.jpeg");
    width: 900px;
    height: 900px;
  }
</style>

<section width="900" height="900">
  <div class="container h-100">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="d-flex flex-column">
        <a href="users/sign_in" class="align-self-center"><%= image_tag "play_button.jpeg", class: 'w-100 h-100' %></a>
        <a href="#" class="align-self-center m-2"><%= image_tag "exit_button.jpeg", class: 'w-100 h-100' %></a>
        <% if current_user %>
          <%= button_to 'Salir', destroy_user_session_path, method: :delete, class: 'm-2 align-self-center btn btn-primary' %>
        <% end %> 
      </div>
    </div>
  </div>
</section>