<style>
  html, body {
    height: 100%;
  }
</style>

<section class="h-100">
  <div class="container h-100">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="d-flex flex-column">
        <a href="users/sign_in" class="align-self-center btn btn-primary">Ingresar</a>
        <a href="users/sign_up" class="align-self-center btn btn-primary m-2">Registrarse</a>
        <% if current_user %>
          <%= button_to 'Salir', destroy_user_session_path, method: :delete, class: 'm-2 align-self-center btn btn-primary' %>
        <% end %> 
      </div>
    </div>
  </div>
</section>