<a href="users/sign_in" class="btn btn-primary">Ingresar</a>
<a href="users/sign_up" class="btn btn-primary">Registrarse</a>
<% if current_user %>
  <%= button_to 'Salir', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
<% end %> 