<style>
  html, body {
    height: 100%;
  }
</style>

<section class="h-100">
  <div class="container h-100">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="d-flex flex-column">
        <h2><%= current_user.username %></h2>
        <h2>Dinero: <%= current_user.money %></h2>
        <a href="/games/index" class="btn btn-primary">Seleccionar Juego</a>
        <a class="btn btn-primary mt-2">Comprar Objetos</a>
        <% if current_user %>
          <%= button_to 'Salir', destroy_user_session_path, method: :delete, class: 'btn btn-primary mt-2 w-100' %>
        <% end %> 
      </div>
    </div>
  </div>
</section>