<style>
  html, body {
    height: 100%;
  }

  options {
      position:absolute;
      top:0;
      left:61px;
      width:299px;
      height:99px;
  }
  #options_title {
      font-size:17px;
      font-weight:bold;
      text-align:center;
      padding-top:8px;
  }
  #options_eyes, #option_eye_brows  {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      top:34px;
      left:0;
      height:65px;
      overflow-y:hidden;
  }

  #footer {
      position:absolute;
      top:360px;
      left:0;
      width:100%;
      height:99px;
      border-top:1px solid #707070;
  }

  .skins,.eyes,.eyebrows,.mouths,.hairstyles,.haircolors,.facialhairs,.clothes,.fabriccolors,.backgroundcolors,.glasses,.tattoos,.accesories {
      flex: 0 0 auto;
      top:0;
      width:53px;
      height:53px;
      margin:5px;
      border:1px solid #707070;
      cursor:pointer;
      border-radius:10px;
      background-color:#ffdbb4;
  }

  .eyes,.eyebrows,.mouths,.hairstyles,.facialhairs,.clothes,.glasses,.tattoos,.accesories {
      background-image:url(https://i.imgur.com/q0DdlUI.png);
  }
</style>

<div id='footer'>
    <div id='options'>
        <div id='options_title'>SELECT SKIN COLOR</div>
        <div id='options_eyes'></div>
        <div id='option_eye_brows'></div>
    </div>
</div>
<script>
  var skins = ["ffdbb4","edb98a","fd9841","fcee93","d08b5b","ae5d29","614335"];
  var eyes = ["default","dizzy","eyeroll","happy","close","hearts","side","wink","squint","surprised","winkwacky","cry"];
  var eyebrows = ["default","default2","raised","sad","sad2","unibrow","updown","updown2","angry","angry2"];
  var mouths = ["default","twinkle","tongue","smile","serious","scream","sad","grimace","eating","disbelief","concerned","vomit"];
  var hairstyles = ["bold","longhair","longhairbob","hairbun","longhaircurly","longhaircurvy","longhairdread","nottoolong","miawallace","longhairstraight","longhairstraight2","shorthairdreads","shorthairdreads2","shorthairfrizzle","shorthairshaggy","shorthaircurly","shorthairflat","shorthairround","shorthairwaved","shorthairsides"];
  var haircolors = ["bb7748_9a4f2b_6f2912","404040_262626_101010","c79d63_ab733e_844713","e1c68e_d0a964_b88339","906253_663d32_3b1d16","f8afaf_f48a8a_ed5e5e","f1e6cf_e9d8b6_dec393","d75324_c13215_a31608","59a0ff_3777ff_194bff"];
  var facialhairs = ["none","magnum","fancy","magestic","light"];
  var clothes = ["vneck","sweater","hoodie","overall","blazer"];
  var fabriccolors = ["545454","65c9ff","5199e4","25557c","e6e6e6","929598","a7ffc4","ffdeb5","ffafb9","ffffb1","ff5c5c","e3adff"];
  var backgroundcolors = ["ffffff","f5f6eb","e5fde2","d5effd","d1d0fc","f7d0fc","d0d0d0"];
  var glasses = ["none","rambo","fancy","old","nerd","fancy2","harry"];
  var glassopacities = ["10","25","50","75","100"];
  var tattoos = ["none","harry","airbender","krilin","front","tribal","tribal2","throat"];
  var accesories = ["none","earphones","earring1","earring2","earring3"];

    var eyeBrowsHtml = "";
    var eyesHtml = "";
    for (i=0;i<eyes.length; i++) {
        eye = eyes[i];
        eyesHtml += "<div class='eyes' id='e_"+eye+"' style='background-color:#"+"ffdbb4"+";background-position:"+(i*-53)+"px 0px;'>$100</div>";
    }
    

    for (i=0;i<eyebrows.length; i++) {
        eyebrow = eyebrows[i];
        eyeBrowsHtml += "<div class='eyebrows' id='eb_"+eyebrow+"' style='background-color:#"+"ffdbb4"+";background-position:"+(i*-53)+"px -53px;'> $100</div>";
    }

    $("#options_eyes").html(eyesHtml);
    $("#option_eye_brows").html(eyeBrowsHtml);
</script>
